<style>

#inv-brand {
    border-radius: 12px;
}

#inv-brand-title {
    text-align: left;
    margin-top: 8px;
}

.rule-heading {
    position: relative;
    text-align: center;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.rule-heading:before {
    content: "";
    display: block;
    border-top: solid 2px black;
    position: inherit;
    top: 50%;
    width: 100%;
    height: 2px;
    z-index: 0;
}

.rule-heading span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.btn {
    min-height: 48px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

</style>

<div class="container" style="height:100vh;padding-top:16px;padding-bottom:16px;">
    <div class="row">
        <div class="col-1">
            <img id="inv-brand" src="images/app_ic_web.svg" width="72" height="72"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4 id="inv-brand-title"><b>@Title</b></h4>
        </div>
    </div>
    <div class="row flex-grow-1 justify-content-center">
        <div class="container">
            <div class="row">
                <p>@AlreadyRegistered</p>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">@Employee</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-secondary">@Owner</button>
                </div>
            </div>
            <div class="row">
                <p class="rule-heading"><span><b>@OR</b></span></p>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-secondary">@Register</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string Title = LanguageService.Instance["Inventory Management"];
    private string AlreadyRegistered = LanguageService.Instance["Already registered?"];
    private string Employee = LanguageService.Instance["Employee"];
    private string Owner = LanguageService.Instance["Owner"];
    private string OR = LanguageService.Instance["OR"];
    private string Register = LanguageService.Instance["Register"];
}
